<style>
    :host {
        display: block;
        border: 1px solid red;
    }

    :host([data-ready="true"]) {
        border: 1px solid green;
    }
</style>

<section>
    <h2>Section Heading</h2>

    <div>
        <label>
            <div>First Name</div>
            <input type="text" data-field="model.firstName" />
        </label>

        <label>
            <div>Last Name</div>
            <input type="text" data-field="model.lastName" />
        </label>

        <label>
            <div>Age</div>
            <input type="number" data-field="model.age" />
        </label>
    </div>

    <button>Perform Task</button>
</section>